*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'Open Sans', sans-serif;
}

/* HEADER */

header{
    margin-bottom: 6em;
}
.navbars{
    display: flex;
    justify-content: space-between;
    padding: 2em;
    align-content: center;
    /* font-size:1.5em; */
    color: rgb(128, 128, 128);
}

.navbars nav ul{
    display: flex;
    align-items: center;
    gap: 2em;
    list-style-type: none;
}

.blue-btn{
    align-items: center;
    padding: .5em 1em;
    color: white;
    background-color:#0265ff ;
}

h1.section-title{
    font-size: 2em;
    padding-bottom: 2em;
}
/* JUMBOTRON */
section.jumbo{
    background-color: rgb(181, 209, 232);
    padding: 1em;
}

.big-container{
    width: 70%;
    margin: 0 auto;
}
.jumbo>.big-container>h1{
    font-size: 4em;
    margin-bottom: .5em;

}
.jumbo-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.jumbo-bottom-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
    /* position: relative; */
}

.jumbo-bottom-left p,
.jumbo-bottom-left>button,
.jumbo-bottom-left{
    margin-bottom: 20px;
}

.jumbo-bottom-left>i{
    font-size: 3em;
    position: relative;
    top: 50px;
}

.jumbo-bottom-right{
    /* position: relative; */
    width: 70%;
}

.jumbo-bottom-right img{
    position: relative;
    top: 80px;
    width: 100%;
}

/* MAIN */
.container{
    width: 60%;
    margin: 0 auto;
}
main>section.container{
    margin-bottom: 5em;
}

a{
    text-decoration: none;
    color: rgb(135, 135, 135);
}

/* BUSINESS PLAN */
.columns{
    display: flex;
    flex-direction: space-between;
    gap: 2em;
    flex-wrap: wrap;
}
.columns>article,
.columns>article>section.article-target{
    border: 1px solid rgb(230, 230, 230);
}

.columns>article:last-child{
    width: 100%;
    height: auto;
    
}
.columns>article:last-child>.article-body{
    padding: 1em;
    display: flex;
}

.article-target{
    text-align: center;
}

h1.section-title
.article-target{
    display: flex;
    justify-content: center;
    height: 20%;
    padding: 1em 0;
    margin-bottom: 1em;
}

label{
    margin-right: 1em;
}
[type="radio"]{
    margin-right: .5em;
}

.columns>article{
    width: 30%;
    margin-top: 3em;
    
}
.columns>article .article-body *{
    margin-bottom: 1.5em;
}
.article-body{
    padding: 0 1em;
}
.article-body ul{
    list-style-type: none;
}

.plan-feature li:nth-child(1)::before{
    font-family: "FontAwesome";
    content: "\f007";
}
.plan-feature li:nth-child(2)::before{
    font-family: "FontAwesome";
    content: "\f007";
}.plan-feature li:nth-child(3)::before{
    font-family: "FontAwesome";
    content: "\f007";
}


/* DROPBOX - HELLOSIGN FIND A PARTNER */
section.hello-sign{
    display: flex;
    gap: 4em;
}
.hello-sign img{
    width: 100%;
}
.hello-sign-text{
    width: 30%;

}
.hello-sign-text *{
    margin-bottom: 2em;
}
.hello-sign-text button{
    background-color: white;
    padding: 1em;
}

/* DROPBOX BUSINESS SECTION */
.row,
.partner-row{
    display: flex;
    justify-content: space-around;
}

.business-card{
    width: 30%;
    margin: 1em;
}

.img-container>img{
    height: auto;
    object-fit: contain;
    width: 100%;
}

.dropbox-business-bottom{
    margin-top: 5em;
}

.find-out{
    color: rgb(28, 24, 242);
    text-decoration: underline;
}

/* PARTNERS */
.partners-container{
    display: flex;
}

.partners-container>section{
    width: calc(100% / 3);
    display: flex;
    justify-content: space-between;;
}

.partner{
    display: flex;
    justify-content: center;
    width: 33vh;
    height: 33vh;
    padding: 2em;
    
}

.partners-left,
.partners-right{
    display: flex;
    flex-direction: column;
}

.partner>img{
    margin: 0 auto;
    object-fit: contain;
    width: 60%; 
} 

.big-partner{
    padding: 2em;
}
.big-partner p{
    margin-bottom: 1em;
}
.big-partner-title{
    margin-bottom: 2em;
}

.big-partner-title>img{
    width: 60%;
    margin-bottom: 2em;
}
.big-partner-title>hr{
    width: 30%;
    border:1px solid rgb(220, 220, 222);
}

        /* PARTNERS -> SPONSORS BACKGROUND */
.partner.design-it{
    background-color: rgb(161, 212, 155);
    border: 10px solid rgb(208, 232, 204);
}

.arizona-state-university{
    background-color: rgb(97, 8, 43);
}

.florida-university{
    background-color: rgb(0, 148, 207);
}

.topps{
    background-color: rgb(255, 28, 28);
}

.big-partner{
    background-color: rgb(245, 245, 245);
}

.world-bycicle{
    background-color: rgb(214, 0, 32);
}
.hearst{
    background-color: rgb(181, 209, 232)
}

.lonely-planet{
    background-color: rgb(13, 36, 130);
}

.clear-channel{
    background-color: rgb(255, 217, 48)
}
            /* PARTNERS -> BOTTOM */
.partners-bottom{
    background-color: rgb(181, 209, 232);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.partners-bottom>.container{
    padding: 5em;
    display: flex;
    gap: 3em;
    justify-content: space-around;
}
.partners-bottom>.container>h1{
    color: rgb(97, 8, 43);
    font-size: 2.5em;
}
.partners-bottom>.container>button{
    background-color: white;
        padding: 1em;
}

/* ACCORDION */
#accordion{
    font-weight: bold;
}
#accordion>h1.section-title{
    padding: 3em 0;
    border-bottom: 1px solid black;
}
.faq{
    padding: 2.5em 0;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
}

/* FOOTER */
.footer-nav{
    display: flex;
    justify-content: space-around;
}

.footer-nav ul{
    list-style-type: none;
}