*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'Open Sans', sans-serif;
}

/* HEADER */

header{
    margin-bottom: 3em;
}
.navbars{
    display: flex;
    justify-content: space-between;
    padding: 2em;
    align-content: center;
    /* font-size:1.5em; */
    color: rgb(128, 128, 128);
}

.navbars nav ul{
    display: flex;
    gap: 2em;
    list-style-type: none;
}
.nav-right ul li{
    /* align-content: center */
}

.blue-btn{
    /* align-content:center ; */
    padding: .5em 1em;
    color: white;
    background-color:#0265ff ;
}
/* JUMBOTRON */
.jumbo{
    background-color: rgb(181, 209, 232);
}
.jumbo-container{
    width: 70%;
    margin: 0 auto;
}
.jumbo-container>h1{
    font-size: 7em;
    margin-bottom: .5em;

}
.jumbo-bottom{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.jumbo-bottom-left{
    /* display: flex;
    flex-direction: column; */
    width: 25%;
    
}
.jumbo-bottom-left *{
    font-size: 1.2em;
    margin-bottom: 2em;
}
.jumbo-bottom-left>i{
    font-size: 3em;
    position: relative;
    top: 3.5em;
}

.jumbo-bottom-right{
    /* position: relative; */
    width: 70%;
}

.jumbo-bottom-right img{
    max-width: 1000px;
}

/* MAIN */
.container{
    width: 60%;
    margin: 0 auto;
}
main section{
    margin-bottom: 5em;
}

.columns>article,
.columns>article>section.article-target{
    border: 1px solid rgb(230, 230, 230);
}

.article-target{
    display: flex;
    justify-content: center;
    height: 20%;
    padding: 1em 0;
    margin-bottom: 1em;
}

.columns>article{
    width: 30%;
    
}
.columns>article .article-body *{
    margin-bottom: 1.5em;
    
}
.article-body{
    padding: 0 1em;
}
.article-body ul{
    list-style-type: none;
}

.article-body ul:first-of-type li:nth-child(1)::before{
    content: '';
}

/* DROPBOX - HELLOSIGN FIND A PARTNER */
section.hello-sign{
    display: flex;
    gap: 4em;
}
.hello-sign img{
    width: 100%;

}
.hello-sign-text{
    width: 30%;

}
.hello-sign-text *{
    margin-bottom: 2em;
}
.hello-sign-text button{
    background-color: white;
    padding: 1em;
}

/* DROPBOX BUSINESS SECTION */
.row{
    display: flex;
    justify-content: space-around;
}

.business-card{
    width: 30%;
}

.img-container>img{
    height: auto;
    object-fit: contain;
    width: 100%;
}